@font-face
  font-family: fredokaOne
  src: url('./FredokaOne-Regular.ttf')

@font-face 
  font-family: ebGaramond
  src: url('./EBGaramond-VariableFont_wght.ttf')

@font-face
  font-family: openSans
  src: url('./OpenSans-VariableFont_wdth,wght.ttf')

//#7db6d6, #0071af, #5ca4cc, #00659d, #006095, #59cea7, #31c292
//#ec9090, #dfdfdf, #bebebe, 

*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: ebGaramond, openSans, Helvetica, sans-serif

body
  height: 100vh

.top-section
  //#6ca4bc, #76a2a8, #003e3b, #7895ab, #d1000bb5, #13bcab, #00bbd4
  background-color: #6ca4bc
  display: flex
  justify-content: center
  align-items: center

.header 
  display: flex
  align-items: center
  color: #f9faf8
  padding-top: 25px
  padding-bottom: 25px
  height: 85px
  font-size: 56px
  width: calc(50% + 50px)
  font-family: fredokaOne
  font-weight: lighter

.header-logo
  background: url('./todo-list-logo1.svg')
  background-size: 100%
  background-repeat: no-repeat
  width: 43px
  height: 43px
  margin-right: 10px

.menu-icon
  background: url('./menu-icon.jpg')
  background-size: 100%
  background-repeat: no-repeat
  width: 43px
  height: 43px
  position: relative
  left: 16px
  margin-right: auto
  cursor: pointer

.mid-section
  display: flex
  color: #000033
  font-size: 20px

.left-menu
  display: flex
  flex-direction: column
  min-width: 370px
  // #f3f3f3, #f4f4f4, #f1f5f8, #efedee, #f3efec, #ebeef0
  background-color: #f3f3f3
  height: calc(100vh - 85px)
  padding: 25px
  padding-top: 20px

.todo-content
  background-color: white
  width: 100%
  padding-left: 5%
  padding-right: 5%
  padding-top: 25px

.add-icon
  position: relative
  left: 34px
  bottom: 6px
  margin-left: auto
  background: url('./add-icon2-blue.svg')
  background-size: 100%
  background-repeat: no-repeat
  height: 20px
  width: 20px
  cursor: pointer

#add-project-button
  text-align: right
  width: 155px
  background-color: #f3f3f3
  border: none
  border-radius: 10px
  cursor: pointer

.add-icon:hover + #add-project-button, #add-project-button:hover
  // #ced3d6, #d0d6da
  background-color: #d0d6da

#project-list
  list-style: none

#project-list li
  height: 49px

.project-button
  display: flex
  height: 48px
  padding-left: 4px
  padding-bottom: 0px

.project-task-count-icon
  //border: 0.1px solid #000033
  height: min-content
  width: max-content
  min-width: 17px
  border-radius: 50%
  text-align: center
  background-color: #6ca4bc
  color: white
  font-size: 14px
  margin-left: 6px
  cursor: pointer
  pointer-events: none
  font-weight: bold

.general
  display: flex
  height: 48px
  padding-left: 4px
  padding-bottom: 0px

.project-icon
  background: url('./project-icon.svg')
  background-size: 100%
  background-repeat: no-repeat
  width: 48px
  height: 32px
  position: relative
  left: 6px
  bottom: 10px
  cursor: pointer
  pointer-events: none

.projects-header-container
  display: flex
  justify-content: space-between
  align-items: center

#projects-list > li > div > button
  border: none

.projects
  width: max-content
  font-size: 30px
  padding-bottom: 10px

.project-buttons-container
  display: flex

.project-buttons-container
  button
    border: none
    border-radius: 10px
    cursor: pointer
    background-color: #f3f3f3
  button:hover
    background-color: #d0d6da

label[for="create-project"]
  min-width: 91px
  align-self: center
  font-size: 18px

#create-project
  border-radius: 10px

.check-cancel-container
  display: flex
  width: 100%
  justify-content: center
  column-gap: 5px

#create-on-add-project
  //#a5eea5, #31c292, #59cea7, #13bcab, #003e3b, 
  background-color: #a5eea5
  font-size: 18px
  border-radius: 10px
  text-align: center
  width: 100px
  flex-grow: 2

#cancel-on-add-project
  //#d1000bb5, #ffb6b6, #ec9090
  background-color: #ffb6b6
  font-size: 18px
  border-radius: 10px
  text-align: center
  width: 100px

.delete-project
  width: 25px
  height: 60px
  text-align: center
  
.cancel-task
  float: right
  border: 1px black solid
  width: 23px
  height: 23px
  text-align: center
  
.delete-project:hover, .cancel-task:hover
  color: red

#on-add-project
  display: none





button, input
  font-size: 20px
  color: #000033
  text-align: left
  padding: 10px 20px
  margin-bottom: 10px
  width: 100%
  overflow: auto

h1
  font-weight: 300
  font-size: 28px

ul
  list-style: circle
  padding: 0
  margin: 0

.add-task
  width: 140px
  border: none
  border-radius: 10px
  background-color: white
  margin-top: 20px
  cursor: pointer

.add-task:hover
  background-color: #d0d6dac7



.general-list-item
  display: none

.task-form 
  border: solid 1px black
  font-size: 18px
  padding: 15px
  width: 100%
  background-color: rgb(201, 228, 228)
  display: none

.task-form h2
  text-align: center
  margin-bottom: 5px

.task-form .cancel-task 
  height: 30px
  width: 28px

.label-input
  display: flex
  column-gap: 10px
  margin-bottom: 10px

.task-label-input label
  min-width: max-content

label[for="name"], 
label[for="date"]
  align-self: center
  min-width: 79px

input[type="text"]
  align-self: center
  height: 47px
  margin-bottom: 0px
  padding: 10px 14px

input[type="date"]
  align-self: center
  height: 47px
  margin-bottom: 0px
  padding: 10px 14px

p
  margin-bottom: 10px

label[for="low"], label[for="normal"], label[for="high"]
  margin-left: 98px

input[type="radio"]
  width: max-content

#low
  margin-left: 32px

#normal
  margin-left: 10px

#high
  margin-left: 29px

textarea 
  padding: 10px
  width: 100%


#create-task-button
  margin-bottom: 0
  text-align: center
  

.header-add-task-container
  display: flex
  justify-content: space-between
  align-items: center

#task-list-header

.add-task


#task-list



.left-menu button

#on-add-project input

