body {
  margin: 0px;
  height: 100vh;
}

.header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 56px;
  background-color: antiquewhite;
}

.container {
  display: flex;
}

.left-menu {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: rgb(201, 228, 228);
  height: 100vh;
  padding: 25px;
  padding-top: 20px;
}

.projects {
  font-size: 28px;
  padding-bottom: 10px;
}

#on-add-project {
  display: none;
}

.check-cancel-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#create-on-add-project {
  background-color: #a5eea5;
}

#cancel-on-add-project {
  background-color: #ffb6b6;
}

.todo-content {
  width: 100%;
  padding-left: 10%;
  padding-top: 25px;
}

button, input {
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

h1 {
  font-weight: 300;
  font-size: 28px;
}

#add-project {
}

.left-menu button {
}

#on-add-project input {
}

.add-task {
}